{% extends "base.html" %}

{% block title %}{{ block.super }}/ipalloc{% endblock %}

{% block contents %}

    <div>
        <form action="{% url 'addnetwork' %}" method="post">
        {% csrf_token %}
            <b>Cadastrar rede:</b><br>
            {% for message in messages %}
                <div class="error" style="color:red">{{ message }}</div><br />
            {% endfor %}
            <label for ="netname"> Nome da Rede: </label>
            <input type="text" name="netname" value="{{ netname|escape }}" id="netname"><br>
            <label for="addnet"> IP/MASK: </label>
            <input type="text" name="addnet" value="{{ addnet|escape }}" id="net">
            <div id="addnet_button"><input type="submit" value="Adicionar" /></div>
        </form>
    </div>

    <div>
        <form action="{% url 'select_manager_to_network' %}" method="post">
        <b>Redes disponíveis para alocar para gerentes</b><br>
	Gerente:
	<select name="manager">
        {% for user in users %}
	    <option value="{{ user.username }}">{{ user.username }}</option>
        {% endfor %}
	</select>

	Escolha a(s) rede(s) para o gerente selecionado:<br>
        {% for net in networks %}
            <br>
	    <input type="checkbox" name="net" value="{{ net.name }}">
	    {{ net.name }} - {{ net.get_address }}/{{ net.get_mask }} <br>
        {% endfor %}
            <div id="selectnet_button"><input type="submit" value="Selecionar" /></div>
	</form>
    </div>

{% endblock contents%}
