{% extends "menu.html" %}

{% block title %}{{ block.super }}/ipalloc{% endblock %}


{{ block.super }}/ipalloc

{% block contents %}

    <div class="box-1">
        <form action="{% url 'ip2manager' %}" method="post">
	{% csrf_token %}

    {% for user in users %}
		Gerente: {{ user.username }}<br>
		{% for net in networks %}
			{% if net.administrator == user %}
				<br>
				<li>{{ net.name }} - {{ net.get_address }}/{{ net.get_mask }} </li>
			{% endif %}
		{% endfor %}<br><br>
    {% endfor %}
		Redes sem gerente:<br>
		{% for net in networks %}
			{% if net.administrator == null %}
				<br>
				<li>{{ net.name }} - {{ net.get_address }}/{{ net.get_mask }} </li>
			{% endif %}
		{% endfor %}<br><br>
	<br>
	</form>
    </div>

{% endblock contents%}
