{% extends "menu.html" %}

{% block title %}{{ block.super }}/ipalloc{% endblock %}

{% block contents %}

    <div>
        <form action="{% url 'ipdelmanager' %}" method="post">
	{% csrf_token %}
        Gerente: 
	<select name="manager">
        {% for user in users %}
	    <option value="{{ user.username }}">{{ user.username }}</option>
        {% endfor %}
	</select>
        <input type="submit" name="selectmanager_button" value="Selecionar"/>

	<br><br>
	
	Selecione rede para desalocar do gerente:<br>
        {% for net in networks %}
            <br>
	    <input type="radio" name="net" value="{{ net.name }}">
	    {{ net.name }} - {{ net.get_address }}/{{ net.get_mask }} <br>
        {% endfor %}
            <br><input type="submit" name="selectnet_button" value="Desalocar"/>
	</form>
    </div>

{% endblock contents%}
