<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <title>{% block title %}iptools{% endblock %}</title>

  {% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "base.css" %} ">
  {% endblock %}

</head>

<body>
	
<html>
<body>
   <table id="wrapper">
      <tr>
         <td><img src="../static/logo.png" alt="" /></td>
      </tr>
   </table>
</body>
</html>


{% if user.is_authenticated %}
  <div id="home"><a href="/">home</a></div>
  <div id="logout"><a href="/logout">logout</a></div>
{% endif %}

{% block contents %}

{% endblock %}

</body>
</html>