{% extends "base.html" %}

{% block contents %}
    <div id="login_form_content">
        <h1 style="text-align: center; width: 100%;">iptools</h1>
        {% if error_message %}
            <div class="error">{{ error_message }}</div><br />
        {% endif %}
  
        <form action="" method="post">
        {% csrf_token %}
        	<label for="username">Nome de usu&aacute;rio:</label>
                <input type="text" name="username" value="{{ username|escape }}" id="username">
		<br><br>
                <label for="password">Senha:</label>
                <input type="password" name="password" value="" id="password">
                <br /><br />
                <div id="login_button"><input type="submit" value="login" /></div>
        </form>
    </div>
{% endblock contents%}
