<html>
<head>

  <title>{% block title %}iptools{% endblock %}</title>

  {% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "base.css" %} ">
  {% endblock %}

</head>

<body>

<html>
<body>
   <table id="wrapper">
      <tr>
         <td><img src="../../static/logo.png" alt="" /></td>
      </tr>
   </table>
</body>
</html>
<div id="options_form" >
<div  class="box-2">
{% if user.is_authenticated %}
  <a href="/">home</a> | 

  {% if user.is_superuser %}
      <a href ="{% url 'adminmenu' %}">adicionar</a> |
  {% endif %}

  {% if user.is_superuser %}
      <a href ="{% url 'ip2manager' %}">alocar</a> |
  {% endif %}

  {% if user.is_superuser %}
      <a href ="{% url 'ipdelmanager' %}">desalocar</a> |
  {% endif %}

  <a href ="{% url 'confsystem' %}">status</a> |

  <a href="/logout">logout</a>

  <br><br>

{% endif %}

{% block contents %}

{% endblock %}
</div>
</div>
</body>
</html>

